<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Preview - Book 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="sample-preview">
        <h1>Grumpy Shark's First Adventure - Preview</h1>
        <div class="sample-pages">
            <img src="{{ url_for('static', filename='books/sample_page_1.jpg') }}" alt="Sample Page 1">
            <img src="{{ url_for('static', filename='books/sample_page_2.jpg') }}" alt="Sample Page 2">
            <img src="{{ url_for('static', filename='books/sample_page_3.jpg') }}" alt="Sample Page 3">
        </div>

        <a href="{{ url_for('books') }}" class="link-box">← Back to Books</a>
    </div>
    <div class="book-preview-bio">
        <h2>About This Book</h2>
        <p>
            In *Grumpy Shark's First Adventure*, our cranky hero lets out some awful scary grumbles, The reason for his
            Grumpyness is that he hasnt eaten for a long time because of a bad tooth. but soon discovers that with the
            help ofothers, he can find a way to overcome his troubles and make new friends along the way.
        </p>
    </div>

</body>

</html>