<!DOCTYPE html>
<html lang="en">

<head>
    <title>Grumpy Shark and the Deep Sea</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <main>
        <div class="navigation-links">
            <a href="/" class="link-box">🏠 Home</a>
            <a href="/books" class="link-box">📖 Back to Books</a>
        </div>
        <h2>Grumpy Shark Adventures</h2>
        <p>The first adventure of Grumpy Shark! Dive into the deep sea...</p>

        <div class="character-list">
            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/grumpy.png') }}" alt="Grumpy Shark">
                <p>Grumpy Shark - The deep-sea explorer with a tough attitude.</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/jack_gill.png') }}" alt="Jack Gill">
                <p>Jack Gill</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/Jessica_gill.png') }}" alt="Jessica Gill">
                <p>Jessica Gill</p>
                <div class="character-bio">Smart and caring with a splash of mischief.</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/mum_gill.png') }}" alt="Mum Gill">
                <p>Mum Gill</p>
                <div class="character-bio">Loving, wise, and always prepared with snacks.</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/dad_gill.png') }}" alt="Mum Gill">
                <p>Dad Gill</p>
                <div class="character-bio">Loving, wise, and always prepared with snacks.</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/craig.png') }}" alt="Craig">
                <p>Craig</p>
                <div class="character-bio">Loving, wise, and always prepared with snacks.</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/destiny.png') }}" alt="destiny">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/irene_lightfish.png') }}" alt="destiny">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/kristine.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/maz.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/maz_hiding.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/mckenna.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/rylee.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/orion.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/lisa.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/pauline.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/jasmine.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/lacy.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/polly.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/ollie.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/jada.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/matilda.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/ronnie.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="character-card">
                <img src="{{ url_for('static', filename='characters/bon_bon.png') }}" alt="Irene the Light Fish">
                <p>.....</p>
                <div class="character-bio">.....</div>
            </div>

            <div class="book-info">
                <h2>Book 3: Grumpy Shark's Deepest Mystery</h2>
                <p>The ocean holds secrets, and Grumpy Shark is about to uncover the biggest one yet!</p>
                <button class="buy-btn" onclick="window.location.href='/payment';">Get the Book</button>
            </div>
            <div class="book-card">
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='books/grumpy_3_cover.png') }}"
                        alt="Grumpy Shark's Deepest Mystery">
                    <div class="click-overlay">🕒 Coming Soon</div>
                </div>
                <div class="book-popup">
                </div>

            </div>
        </div>

    </main>
</body>